# dependencies
node_modules/

# next.js build output
.next/
out/

# local cache
.npm-cache/
.turbo/
.cache/
tsconfig.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system files
.DS_Store

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
